[user]
    name = Danny Navarro
    email = j@dannynavarro.net
    signingkey = 4A96D1B9DBB5E7E9
#    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIENPlfMDVjeSwKSwcwEdyHxlNc7mhFmivJ1P0O/fmRGu danny@olaizola
[alias]
    st = status
    br = branch
    ci = commit
    co = checkout
[rebase]
    autosquash = true
[github]
    user = jdnavarro
[commit]
    gpgsign = true
[tag]
    gpgsign = true
#[gpg]
    # program = gpg
    # format = ssh
[pull]
    rebase = true
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[diff]
	tool = vscode
#[mergetool "vscode"]
	#cmd = code --wait $MERGED
[init]
	defaultBranch = master
[gpg "ssh"]
	allowedSignersFile = /home/danny/.config/git/allowed_signers
